name: Deploy Manual

run-name: Deploy -> ${{ inputs.region }}

on:
  workflow_dispatch:
    inputs:
      region:
        description: Select deployment region
        required: true
        type: choice
        options:
          - us-east-1
          - ap-south-1
          - eu-west-1

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Version: ${{ github.ref_name }}"
          echo "Region: ${{ inputs.region }}"
